/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body{
    margin: 0px;
}
.logo {
    width: 100px;
    height: 25px;
    padding: 10px;

}
div.top-nav, div.nav-btn{
display: flex;
justify-content: flex-end;
}
div.top-nav{
    display: flex;
    justify-content: flex-start;
}
nav{
    display: flex;
    background-color : #540B51;
}
.hero {
    width: 100%;
    height: 100vh;
    background-color: #540B51;
}
.top-nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    
}
.top-nav li {
    display: block;
    
}
.top-nav a {
    text-decoration: none;
        color: white;
}
div {
    width: 100%;
}
div .nav-btn {
   
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.top-nav h1 {
    background-color: #540B51;
}